<%= form_for(@active_code) do |f| %>
  <% if @active_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@active_code.errors.count, "error") %> prohibited this active_code from being saved:</h2>

      <ul>
      <% @active_code.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
