<nav class="navbar navbar-default col-md-3" role="navigation" style="margin-top: 20px">
  <ul class="nav nav-pills nav-stacked">
	<%ActiveBatch.all.each do |item|%>
		<%if @selected && @selected.id == item.id%>
			<li class="active">
		<%else%>
			<li>
		<%end%>
		<%=link_to "#{item.name}-#{item.active_codes.size}条",active_batch_path(item)%>
	</li> 
	<%end%>
	<%if args[:create_active]%>
		<li class="active">
	<%else%>
		<li>
	<%end%>
	<a href="<%=Xconfig.bgm_ac_url%>" target="_blank">创建新批次</a>
	</li>
</ul>
</nav>
