<nav class="navbar navbar-default col-md-3" role="navigation" style="margin-top: 20px">
  <ul class="nav nav-pills nav-stacked">
	<% @batches.each do |item| %>
		<%if @selected_id == item[0]%>
			<li class="active">
		<%else%>
			<li>
		<%end%>
			<%=link_to "#{item[1]}","/active_batches/#{item[0]}"%>
			<!-- -#{item.active_code_size} -->
		</li> 
	<%end%>
	<%if args[:create_active]%>
		<li class="active">
	<%else%>
		<li>
	<%end%>
	<a href="<%=Xconfig.bgm_ac_url%>" target="_blank">创建新批次</a>
	</li>
</ul>
</nav>
